:root {
  --light-grey: #e6e3e3; 
  --dark-grey: #9c9c9c; 
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(10px + 1vmin);
  line-height: 150%;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--dark-grey);
  width: 100%;
  height: 100%;
  padding: 10px;
  flex-wrap: nowrap;
}

.postsStore {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: auto;
  align-items: flex-start;
  justify-content: center;
}

.create-post {
  display: flex;
  width: 100%;
  height: 46px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 8px;
}

.create-post-place {
  width: 450px;
  height: 30px;
}

.create-post-btn {
  height: 26px;
  background-color: #4c729e;
  color: #ffffff;
  border-radius: 3px;
  border-style: hidden;
  font-weight: 500;
  cursor: pointer;
  padding: 0 10px;
}

.mylist {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.mainList {
  width: 100%;
  transition: 0.4s;
  min-height: 1.5rem;
  margin-top: 10px;
}

.textPlace {
  width: 100%;
  min-height: 200px;
  height: auto;
  border-style: hidden;
  border-radius: 3px;
  background-color: #fff;
}

/* PostCard */

.post {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
}

.post-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.avatar {
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-img {
  position: absolute;
  left: -5px;
  top: -2px;
  width: 59px;
  height: 73px;
}

.avatar-img-small {
  width: 44px;
  height: 55px;

}

.post-top-right {
  margin-left: 20px;
}

.name {
  font-size: 0.9rem;
  font-weight: 600;
  color: #4c729e;
  line-height: 100%;
}

.status {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--dark-grey);
}

.content {
  font-size: 1.5rem;
  color: black;
  margin: 10px 0;
}

.hr-line {
  border: none;
  border-top: 1px solid var(--dark-grey);
}

.reaction {
  display: flex;
  justify-content:space-around;
  color: var(--dark-grey);
  font-size: 0.8rem;
  font-weight: 600;
}

.reaction-left {
  display: flex;
  justify-content: center;
}

.reaction-icon {
  margin-right: 10px;
  height: 24px;
  fill: var(--dark-grey);
  stroke-width: "1";
  text-align: end;
  text-align: end;
}

.avatar-small {
  width: 32px;
  height: 32px;
}

.comment {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  border-top: 1px solid var(--dark-grey);
  padding-top: 15px;
}

.comment-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  width: 500px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--light-grey);
  align-items: center;
  padding: 15px;
  color: var(--dark-grey);
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid var(--dark-grey);
}

.icons-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NewPost */
.new-post {
  width: 100%;
  height: auto;
  margin: 0 10px;
  color: black;
  background-color: #fff;
}

.new-post-top{
  display: flex;
  margin: 0 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--dark-grey);
}

.new-post-top-item {
  padding: 10px;
}

.new-post-top-left {
  display: flex;
}

.new-post-midle {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.inputPlace {
  display: block;
  width: 480px;
  min-height: 70px;
  max-height: 300px;
  margin: 0 10px;
  line-height: 24px;
  color: black;
  background-color: #fff;
  resize: vertical;
  border: 1px solid var(--light-grey);
  overflow: auto;
  padding: 10px;
  outline: none;
}

.inputPlace-avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid var(--light-grey);
}

.new-post-midle-bottom {
  align-items: end;
  padding: 0 10px;
  margin-bottom: 5px;
}

.new-post-bottom {
  height: 50px;
  background-color: var(--light-grey);
  border-top: 1px solid var(--dark-grey);
  text-align: end;
}

.new-post-btn {
  margin: 10px;
}

.view-card-btn {
  width: 100px;
  height: 26px;
  padding: 0;
  background-color: #4c729e;
  color: #ffffff;
  border-radius: 3px;
  border-style: hidden;
  font-weight: 500;
  margin: 10px;
}

.view-card-btn-red {
  background-color: rgb(148, 2, 2);
}

.view-card-btns {
  /* margin-top: 5px; */
  text-align: end;
}

.view-card-bottom {
  height: 35px;
  background-color: #ffffff;
}

/* EditPost */

.edit-post-top {
  font-size: 1.2rem;
  font-weight: 600;
}

.edit-post-midle-bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 160px;
  margin: 0 10px;
  justify-content: flex-start;
  /* align-items: flex-start; */
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--dark-grey);
}

.edit-post-item {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
  margin-left: 30px;
  padding: 5px;
  border-radius: 20px;
  background-color: var(--light-grey);
}

.edit-post-icon {
  margin-right: 10px;
}